<%- include("partials/header"); -%>
    <div class="full-page">
        <h1 style="text-align: left; width: 100%;">About</h1>
        <div class="img-container">
            <img class="img-pic" src=<%=imgSrc %> alt="">
        </div>
        <p class="cursive">
            <%= aboutContent %>
        </p>
        <p class="cursive">
            This blog posts app is created to add your favourite blogs in mind by composing them. Try to add many blogs and view them in the home page, then access them individually.
        </p>
    </div>
    <%- include("partials/footer"); -%>