<%- include("partials/header"); -%>

<div class="full-page">
    <h1 style="width: 100%; text-align: left;"> <%= postTitle %> </h1>
    <p class="p-text"> <%= postContent %> </p>
</div>

<%- include("partials/footer"); -%>